* {
	transition: ease 0.4s;
}

@keyframes kiri{
	0% {margin-left: -4em;}
	100% {margin-left: 0;}
}

@keyframes kanan{
	0% {margin-right: -4em;}
	100% {margin-right: 0;}
}

@keyframes opacity {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

html, body {
  position: relative;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.logo, .ml-auto {
	animation-duration: 0.75s;
	animation-timing-function : ease-out;
}

.active {
	color: #1089FF;
}

ul li a {
	font-weight: 500;
	color: #23374D;
}

ul li a:hover {
	color: #1089FF;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") !important;
}

section {
	margin-top: 3em;
}

section > * {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	text-align: center;
}

#lainnya img {
	margin: 3em 0;
}

#paket-inet img:hover, #lainnya img:hover, #detail-paket img:hover {
	transform: scale(1.1);
	opacity: 0.5;
	box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.container h1 {
	font-weight: 700;
	font-size: 28px;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-pagination-bullet-active {
	background: white !important;
}

.row .rounded {
	padding: 0;
	color: white;
	margin: 0.75em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 0;
	border-radius: 10px !important;
	
}

.paket-1 {
	background : linear-gradient(0deg, #FC5A62 0%, #B02E46 100%);
}

.paket-1 .btn-dark {
	background-color: #FC5A62;
	border-color: #FC5A62;
}

.paket-1 .pesan {
	border: 1px solid #FC5A62;
	color: #FC5A62;
}

.paket-1 .pesan:hover {
	background : linear-gradient(45deg, #FC5A62 0%, #B02E46 200%);
}

.paket-2 {
	background : linear-gradient(0deg, #F81690 0%, #9E339B 100%);
}

.paket-2 .btn-dark {
	background-color: #F81690;
	border-color: #F81690;
}

.paket-2 .pesan {
	border: 1px solid #F81690;
	color: #F81690;
}

.paket-2 .pesan:hover {
	background : linear-gradient(45deg, #F81690 0%, #9E339B 200%);
}

.paket-3 {
	background : linear-gradient(0deg, #FEE41F 0%, #F5A41D 100%);
}

.paket-3 .btn-dark {
	background-color: #F5A41D;
	border-color: #F5A41D;
}

.paket-3 .pesan {
	border: 1px solid #F5A41D;
	color: #F5A41D;
}

.paket-3 .pesan:hover {
	background : linear-gradient(45deg, #FEE41F 0%, #F5A41D 200%);
}

.paket-4 {
	background : linear-gradient(0deg, #00C9FF 0%, #007FFE 100%);
}

.paket-4 .btn-dark {
	background-color: #00C9FF;
	border-color: #00C9FF;
}

.paket-4 .pesan {
	border: 1px solid #00C9FF;
	color: #00C9FF;
}

.paket-4 .pesan:hover {
	background : linear-gradient(45deg, #00C9FF 0%, #007FFE 200%);
}

.paket-5 {
	background : linear-gradient(0deg, #AEEE1C 0%, #5AC33C 100%);
}

.paket-5 .btn-dark {
	background-color: #5CC43B;
	border-color: #5CC43B;
}

.paket-5 .pesan {
	border: 1px solid #5AC33C;
	color: #5AC33C;
}

.paket-5 .pesan:hover {
	background : linear-gradient(45deg, #AEEE1C 0%, #5AC33C 200%);
}

.paket-6 {
	background : linear-gradient(0deg, #C069F6 0%, #5973D0 100%);
}

.paket-6 .btn-dark {
	background-color: #C069F6;
	border-color: #C069F6;
}

.paket-6 .pesan {
	border: 1px solid #C069F6;
	color: #C069F6;
}

.paket-6 .pesan:hover {
	background : linear-gradient(45deg, #C069F6 0%, #5973D0 200%);
}

.detail-paket {
	width: 100%;
}

.detail-paket > div {
	padding: 0 1.5em;
}

.judul-paket {
	letter-spacing: 1px;
	font-size: 13px;
	background-color: rgba(0,0,0,0.1);
	padding: 1em 1em !important;
}

.judul-paket h1 {
	font-weight: 500;
	font-size: 22px;
	margin-bottom: 0.5em;
}

.detail-paket > div:not(:last-child) {
	margin: 2em 0;
}

.feature-paket > * {
	line-height: 1.25em;
	margin: 0.5em 0;
	letter-spacing: 0.05em;
	font-size: 15px;
}

.feature-paket button {
	margin: 0 0.25em 3em 0.25em !important;
	font-size: 12px;
}

p b {
	font-weight: 900;
}

.harga {
	font-size: 48px;
}

.harga-paket {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 1em !important;
}

.info {
	font-size: 14px;
	margin-bottom: 2em !important;
}

.detail-paket p {
	text-align: center !important;
}

.info b {
	font-weight: 500;
}

.smaller {
	font-size: 14px;
}

.pesan-paket {
	color: black;
	padding: 1em 0;
	background-color: white;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pesan {
	margin: 0 0.5em;
	padding: 1em;
	background-color: white;
	border-radius: 5px;
	transition: ease 0.4s;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
}

.pesan:hover {
	text-decoration: none;
	border-color: transparent;
	color: white;
}

.pesan i {
	opacity: 0;
	margin-left: 0;
	font-size: 12px;
}

.pesan:hover i {
	margin-left: 15px;
	color: white;
	opacity: 1;
}

.paket-inet > * {
	margin: 0;
	text-align: left;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 1px;
}

.form {
	background-color: white;
}

.isi {
	padding: 5em 4em;
}

.form h1, .form p {
	text-align: left;
}

input, select, textarea, option {
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 2px solid #ddd;
	font-weight: 300;
	color: #666;
	padding: 5px 1em;
}

input:focus, select:focus, textarea:focus {
	border-color: #1089FF;
	color: black;
	padding-left: 2em !important;
}

.list-form > *:not(:first-child) {
	margin-bottom: 1em;
}

.background {
	background-image: url('../img/background.svg');
	background-size: cover;
	background-position: center;
}

.bayar > * {
	margin-bottom: 1em;
	text-align: left;
}

.tab-content {
	margin-top: 3em;
}

.card-body li {
	list-style-type: circle;
	line-height: 2em;
	padding-left: 2em;
	font-size: 15px;
}

.card-body li i, .card-body li a {
	display: inline-block;
	padding-right: 1em;
}

.cara, .info {
	letter-spacing: 1px;
	line-height: 1.7em;
	font-size: 14px;
}

.cara i {
	font-size: 4em;
}

.cara .col {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.cara .col h1 {
	margin-top: 1em;
	font-weight: 500;
	font-size: 24px;
	text-transform: uppercase;
}

iframe {
	height: 350px;
}

.info p {
	margin-top: 1em;
	text-align: left;
}

.info > *:not(:first-child) {
	margin-bottom: 3em;
}

@media only screen and (min-width: 300px) {
	.cara .col {
		margin-bottom: 2em;
	}

	.paket-inet {
		margin-top: 1em;
	}

	#layanan .row {
		margin: auto 0;
	}

	.swiper-container {
		margin-top: 5em;
		width: 100%;
		height: 250px;
	}
	
	.usp {
		max-width: 100%;
	}

	.tab {
		justify-content: space-around;
		width: 100%;
	}

	.tab li a {
		background-color: #1089FF;
		width: auto;
		padding: 10px 1em;
		text-decoration: none;
		color: white;
	}

	.tab li a:hover {
		color: white;
		opacity: 0.75;
	}

	.navbar-brand {
		margin: 0 auto;
	}

	.navbar-fixed-top {
		position: fixed;
		z-index: 99;
		top: 0;
		height: auto;
		padding: 1em;
		width: 100%;
	}

	.dropdown-menu {
		display: block;
		background-color: #F8F9FA;
	}

	.dropdown-item {
		color: #23374D;
	}

	.dropdown-item:hover {
		background-color: #1089FF;
		color: #F8F9FA;
	}

	.banner {
		height: 25vh;
		background-image: url('../img/Landing_Page_GO_HFC-desk.jpg');
		background-size: cover;
		background-position: center center;
		margin-top: 3em;
	}

	.banner-text {
		width: 100%;
		color: white;
		letter-spacing: 1px;
		line-height: 1.2em;
	}

	.banner-text h1 {
		font-size: 22px;
	}

	.banner-text p {
		font-size: 12px;
	}
	
	.support {
		z-index: 1;
		position: fixed;
		width: 100%;
		bottom: 0;
		background: #030D28;
		padding: 15px 0;
		background-image: url('../img/pattern.svg');
		background-size: cover;
		background-position: center center;
	}

	.support a {
		font-size: 3vw;
		margin: 0 1em;
		padding: 5px;
		width: 250px;
		border-radius: 40px;
		font-weight: 500;
		text-decoration: none;
		color: #D43349;
		border: 1.5px solid #D43349;
	}

	.support a i{
		color: #D43349;
		margin-right: 5px;
	}

	.support a:hover {
		background-color: #D43349;
		color: white;
	}

	.support a:hover i {
		color: white;
	}

	#about {
		margin-top: 1em;
	}

	#about {
		flex-direction: column;
	}

	.about {
		text-align: justify;
	}

	.step {
		text-align: left;
	}

	.about, .step {
		display: flex;
		max-width: 100%;
		flex-direction: column;
		margin-top: 2em;
		align-items: flex-start;
		justify-content: center;
		height: auto;
		color: #030D28;
	}

	.step .row:not(:first-child) {
		margin-top: 1em !important;
	}

	.icon {
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.icon div {
		font-size: 24px;
		width: 50px;
		height: 50px;
		padding: 1em;
		border-radius: 40px;
	}

	.warna-1 {
		background: linear-gradient(0deg, #F290FD 0%, #F5586D 150%);
	}

	.warna-2 {
		background: linear-gradient(0deg, #63E0CE 0%, #209CFF 150%);
	}

	.warna-3 {
		background: linear-gradient(0deg, #C069F6 0%, #647FEA 150%);
	}

	.icon div i {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.judul {
		font-weight: 500;
		font-size: 20px;
	}

	.step .row {
		margin: 1em 0;
	}

	.step .col > * {
		margin: 0;
	}

	.footer {
		background-color: #030D28;
		width: 100%;
		color: white;
		padding: 3em 0;
	}

	.footer .row {
		flex-direction: column;
	}

	.footer .col {
		margin-top: 1em;
	}

	.footer p:not(:first-child) {
		padding-left: 2em;
	}

	.footer .col > * {
		margin: 0;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		line-height: 1.8em;
		text-align: left;
	}

	.footer .col > p:first-child {
		font-size: 18px;
		font-weight: 700;
		border-left: 10px solid #1E253F;
		padding-left: 1em;
		margin-bottom: 1em;
		letter-spacing: 1px;
	}

	.fitur > * {
		margin: 0 !important;
	}

	.fitur .row {
		flex-direction: row;
		flex : 1 !important;
	}

	.fitur img {
		width: auto;
		height: 12vw; 
	}

	footer {
		background: linear-gradient(45deg, #030D28 0%, #2e3468 150%);
		color: white;
		font-size: 14px;
		letter-spacing: 1px;
	}

	footer .container {}
	
	footer .row {
		flex-direction: column;
		align-items: center;

	}

	footer .social {
		flex-direction: row;
	}

	.copyright {
		font-size: 12px;
		line-height: 1.8em;
		text-align: center;
	}

	.social {
		margin-top: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.social a {
		font-size: 20px;
		margin: 0 2em;
		color: white;
	}

	.tab-pane.active {
		color: black;
		padding: 2em 4vw;
	}

	.tab-pane {
	    text-align: left;
	    padding: 2em 6em;
	    letter-spacing: 1px;
	}

	.tab-pane p {
		font-weight: 500;
		margin-bottom: 1em;
		line-height: 1.8em;
	}

	.tab-pane li {
		margin-left: 2em;
		padding-left: 5px;
		font-size: 14px;
	}

	.other * {
		display: block;
		text-align: left;
		letter-spacing: 1px;
	}

	.other .btn-link {
		color: #999;
	}

	.info .row {
		flex-direction: column;
	}

	.cara {
		flex-direction: column;
	}

	.card-body {
		padding: 3vh 2vh;
	}

	#detail-paket .row {
		/*display: flex;*/
		flex-direction: column;
	}

	#detail-paket .col-sm{
		flex-direction: column;
		display: flex;
		align-items: flex-start;
		text-align: left;
	}

	#detail-paket .col-sm:last-child {
		padding-left: 3em;
		padding-top: 1em;
	}

	.tmbl button {
		padding: 5px 1.5em;
	}

	button i {
		margin-right: 10px;
	}

}

@media (min-width: 576px) {
	.support a {
		font-size: 16px;
		padding: 10px;
	}

	.footer .row {
		flex-direction: row;
	}

	.fitur {
		flex: 100%;
	}

	.fitur img {
		height: 10vw; 
	}

	.footer p:not(:first-child) {
		padding-left: 0;
	}

	.copyright {
		font-size: 1em;
		text-align: center;
	}

	.usp {
		width: auto;
		height: 12vw;
	}

	.tab li a {
		padding: 10px 2em;
	}

	.tab-pane.active {
		padding: 2em 6vw;
	}

	.cara {
		flex-direction: row;
	}

	.cara .col:last-child {
		flex: 100%;
	}

	#lainnya .row {
		flex-direction: column;
	}
	
	#paket-inet .row {
		flex-direction: column;
	}

	#paket-inet .paket-inet {
		max-width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.cara .col {
		margin-bottom: 0;
	}

	#paket-inet .row {
		flex-direction: row;
	}

	#paket-inet .paket-inet {
		max-width: auto;
	}

	#paket-inet .row {
		margin-bottom: 2em;
	}

	.paket-inet {
		margin-top: 0;
	}

	.swiper-container {
		height: 550px;
	}

	.usp {
		height: 10vw;
	}

	.about, .step {
		height: 400px;
	}

	.navbar-fixed-top {
		height: 80px;
	}

	.dropdown-menu {
		display: none;
		animation : opacity 0.3s ease-out;
	}

	.dropdown:hover .dropdown-menu {
		display: block;
	}	

	nav li a {
		font-size: 14px;
	}

	.banner {
		height: 250px;
	}

	.banner-text {
		width: 50%;
	}

	.banner-text h1 {
		text-align: left;
		font-size: 26px;
	}

	.banner-text p {
		text-align: left;
		font-size: 14px;
	}

	.support {
		position: relative;
	}

	.support {
		padding: 1.4em;
	}

	.support a {
		font-size: 18px;
		margin: 0 1em;
		padding: 0.75em 0;
		width: 275px;
		border: 3px solid #D43349;
	}

	.fitur {
		flex: 1;
	}

	.fitur img {
		height: 5vw; 
	}

	footer .row {
		flex-direction: row;
		align-items: center;

	}

	.copyright {
		font-size: 14px;
		text-align: left;
	}
	
	.social {
		margin: 0;
	}

	.social a {
		font-size: 20px;
		margin: 0 1em;
		color: white;
	}

	.tab {
		width: 80vw;
	}

	.tab-pane.active {
		padding: 4em;
	}

	.info .row {
		flex-direction: row;
	}

	.cara .col:last-child {
		flex: 1;
	}

	.card-body {
		padding: 3vh 5vh;
	}
	
	#detail-paket .col-sm:first-child {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#detail-paket img {
		width: 100%;
		/*height: 100vh;*/
	}

	.about {
		padding-right: 2em;
	}

	.about > * {
		margin: 0.5em 1em;
	}

	#about {
		flex-direction: row;
	}

	.about, .step {
		max-width: auto !important;
	}
}

@media only screen and (min-width: 840px) {
	nav li a {
		font-size: 16px;
	}

	.banner {
		height: 350px;
	}

	.banner-text h1 {
		font-size: 32px;
	}

	.banner-text p {
		font-size: 16px;
	}

	#lainnya .row {
		flex-direction: row;
	}
}

@media only screen and (min-width: 992px) {
	.banner-text h1 {
		font-size: 32px;
	}

	.banner-text p {
		font-size: 16px;
	}

	.fitur img {
		width: 100%;
		height: auto; 
	}

	.tab {
		width: 40vw;
	}

	.tab-pane.active {
		padding: 4em 6em;
	}

	#detail-paket .row {
		flex-direction: row;
	}
}